* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background: linear-gradient(180deg, #0F172A, #0B1220);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 16px;
}


.app {
    width: 100%;
    max-width: 380px;

    background: #1E293B;

    border-radius: 28px;
    padding: 26px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.55);
}


.logo {
    width: 58%;
    max-width: 200px;

    margin: 6px auto 16px;
    display: block;

    filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.45));
}




.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


label {
    display: block;
    font-size: 13px;
    color: #94A3B8;
    width: 100%;
}


input,
select {
    border-radius: 12px;
    background: #243447;
    border: 1px solid #334155;
    color: white;
    font-size: 15px;
    display: block;
    font-size: 13px;
    width: 100%;
    height: 52px;
    padding: 0 14px;
}


button {
    height: 56px;
    border-radius: 14px;
    border: none;

    background: linear-gradient(135deg, #2563EB, #22C55E);

    font-size: 17px;
    font-weight: 700;
    color: white;

    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.45),
        0 0 14px rgba(34, 197, 94, 0.35);

    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.97);
}


.resultado {
    background: #243447;

    border-radius: 18px;
    padding: 18px;

    border: 1px solid rgba(37, 99, 235, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.box-moeda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
    font-size: 13px;
    color: #94A3B8;
}

.valor {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.seta {
    width: 22px;
    opacity: 0.7;
}

.flag {
    width: 48px;
    transition: opacity 0.25s ease;
}

.fade {
    opacity: 0;
}